$layout-medium: 768px;
$layout-large: 1440px;

.about {
  background-color: var(--clr-primary);

  &__container {
    border-radius: 20px;
    display: grid;
    grid-template-rows: 352px 528px;
  }

  &__description {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__image {
    border-radius: 20px;
    background-image: url(../assets/santa.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__caption {
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: $layout-medium) {
  .about {
    &__container {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 528px;
    }

    &__description {
      padding: 100px 0 100px 60px;
      max-width: 316px;
      width: 100%;
    }
  }
}

@media screen and (min-width: $layout-large) {
  .about {
    &__description {
      padding: 100px 0 100px 60px;
      max-width: 486px;
    }
  }
}