.footer {
  background-color: var(--clr-white);
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__contacts {
    margin-bottom: 60px;
  }
  &__social,
  &__caption {
    margin-bottom: 12px;
  }
}