.hero {
  background-color: var(--clr-primary);

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/bg-ball.png), url(../assets/bg-snow.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }

  &__content {
    width: 433px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__caption {
    margin-bottom: 11px;
  }

  &__title {
    margin-bottom: 13px;
  }

  &__btn {
    margin-bottom: 12px;
  }
}