$layout-medium: 768px;
$layout-large: 1440px;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-f);
  font-size: var(--size);
}

body {
  position: relative;
  overflow-x: hidden;
}

ul,
li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

.head-1,
.head-2,
.head-3,
.head-4,
.action-big .action-small,
.slider-text {
  text-transform: uppercase;
  font-weight: 600;
}

.head-1 {
  font-size: var(--header-1-size);
  line-height: 1.5;
  letter-spacing: 6px;
}

.head-2 {
  font-size: var(--header-2-size);
  line-height: 1.52;
  letter-spacing: 3.9px;
}

.head-3 {
  font-size: var(--header-3-size);
  line-height: 1.52;
  letter-spacing: 1.3px;
}

.head-4 {
  font-size: var(--header-4-size);
  line-height: 1.3;
  letter-spacing: 0.5px;
}

.text {
  font-size: var(--t-size);
  font-weight: 400;
  line-height: 1.48;
}

.action-big {
  font-size: var(--action-big);
  line-height: 1.52;
  letter-spacing: 16%;
}

.action-small {
  font-size: var(--action-sm);
  line-height: 1.3;
  letter-spacing: 5%;
}

.caption {
  font-family: "Allura", cursive;
  font-size: var(--caption-size);
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1px;
}

.slider-text {
  font-size: var(--slider-text);
}

.white {
  color: var(--clr-white);
}

.dark {
  color: var(--clr-dark);
}

.primary {
  color: var(--clr-primary);
}

.container {
  max-width: calc(var(--container-size) + (var(--p-container) * 2));
  width: 100%;
  margin: 0 auto;
  padding: 60px var(--p-container);
}

@media screen and (min-width: $layout-medium) {
  .container {
    --p-container: 8px;
  }
}