:root {
  --clr-primary: #FF4646;
  --clr-primary-1: rgba(255, 70, 70, 0.1);
  --clr-dark: #181C29;
  --clr-white: #ffffff;
  --clr-white-4: rgba(255, 255, 255, 0.4);
  --clr-white-2: rgba(255, 255, 255, 0.2);
  --clr-purple: #4361FF;
  --clr-pink: #FF43F7;
  --clr-green: #06A44F;

  --container-size: 1276px;
  --p-container: 82px;

  --font-f: "Montserrat", sans-serif;
  --font-f-2: "Allura", italic;

  --size: 10px;
  --header-1-size: 3.2rem;
  --header-2-size: 2.4rem;
  --header-3-size: 1.6rem;
  --header-4-size: 1.2rem;
  --t-size: 1.6rem;
  --action-big: 2.4rem;
  --action-sm: 1.2rem;
  --caption-size: 2.4rem;
  --slider-text: 8rem;
}

$layout-medium: 769px;
$layout-large: 1440px;