/* Variables */

:root {
  --clr-primary: #FF4646;
  --clr-primary-1: rgba(255, 70, 70, 0.1);
  --clr-dark: #181C29;
  --clr-white: #ffffff;
  --clr-white-4: rgba(255, 255, 255, 0.4);
  --clr-white-4: rgba(255, 255, 255, 0.2);
  --clr-purple: #4361FF;
  --clr-pink: #FF43F7;
  --clr-green: #06A44F;

  --container-size: 1276px;
  --p-container: 82px;

  --font-f: "Montserrat", sans-serif;

  --size: 10px;
  --header-1-size: 3.2rem;
  --header-2-size: 2.4rem;
  --header-3-size: 1.6rem;
  --header-4-size: 1.2rem;
  --t-size: 1.6rem;
  --action-big: 2.4rem;
  --action-sm: 1.2rem;
  --caption-size: 2.4rem;
  --slider-text: 8rem;
}

/* Basic */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-f);
  font-size: var(--size);
}

body {
  position: relative;
}

ul,
li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

.head-1,
.head-2,
.head-3,
.head-4,
.action-big
.action-small,
.slider-text {
  text-transform: uppercase;
  font-weight: 600;
}

.head-1 {
  font-size: var(--header-1-size);
  line-height: 1.5;
  letter-spacing: 18%;
}

.head-2 {
  font-size: var(--header-2-size);
  line-height: 1.52;
  letter-spacing: 16%;
}

.head-3 {
  font-size: var(--header-3-size);
  line-height: 1.52;
  letter-spacing: 8%;
}

.head-4 {
  font-size: var(--header-4-size);
  line-height: 1.3;
  letter-spacing: 0.5px;
}

.text {
  font-size: var(--t-size);
  font-weight: 400;
  line-height: 1.48;
}

.action-big {
  font-size: var(--action-big);
  line-height: 1.52;
  letter-spacing: 16%;
}

.action-small {
  font-size: var(--action-sm);
  line-height: 1.3;
  letter-spacing: 5%;
}

.caption {
  font-family: "Allura", cursive;
  font-size: var(--caption-size);
  font-weight: 400;
  line-height: 1;
  letter-spacing: 5%;
}

.slider-text {
  font-size: var(--slider-text);
}

.container {
  max-width: calc(var(--container-size) + (var(--p-container) * 2));
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--p-container);
}


/* Menu */
.menu {
  display: none;
}

.menu__link {
  display: inline-block;
  text-transform: uppercase;
  padding: 12px 20px;
  text-decoration: none;
  font-weight: 600;
  color: var(--clr-dark);
  transition: .2s ease-in-out;
  font-size: 2.4rem;
  letter-spacing: 4px;
  line-height: 1.52;
}

.menu__link:hover  {
  color: var(--clr-primary);
  background-color: rgba(255, 70, 70, 0.1);
  border-radius: 12px;
}

@keyframes showBurgerMenu {
  from {
    right: 100%;
  } to {
    right: 0;
  }
}

.menu.menu--active {
  animation-name: showBurgerMenu;
}



.menu--active {
  position: fixed;
  left: 0;
  top: 29%;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}


@media screen and (min-width: 769px) {
  .menu {
    display: block;
  }
  .menu__list {
    flex-direction: row;
    gap: 8px;
  }
  .menu__link {
    font-size: 2.4rem;
  }
}
/* Logo */

.logo {
  color: var(--clr-dark);
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 20px;
  cursor: pointer;
}

/* Header */

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 12px;
}

.burger-btn {
    display: flex;
    justify-content: flex-end;
    z-index: 2;
    padding-right: 5px;
    display: none;
}

.burger-btn__line {
    display: inline-block;
    width: 50px;
    height: 50px;
    position: relative;
}

.burger-btn__line span,
.burger-btn__line span::before,
.burger-btn__line span::after {
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 51%;
    margin-left: -27px;
    width: 53px;
    height: 2px;
    background-color: var(--clr-dark);
}

.burger-btn__line span::before,
.burger-btn__line span::after {
    content: "";
    display: block;
    transition: 0.5s;
}

.burger-btn__line span::before {
    transform: translateY(-11px);
}

.burger-btn__line span::after {
    transform: translateY(11px);
}

.burger-btn__line__active span {
    height: 0;
}

.burger-btn__line__active span::before {
    transform: rotate(45deg);
}

.burger-btn__line__active span::after{
    transform: rotate(-45deg);
}
